<li id="questions-<%= question.id %>">
  <span class="title"><%= question.title %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(question.created_at) %> ago.
  </span>
  <span class="links">
    <%= link_to "view", question_path(question.url) %>
    <%= link_to "delete", question, method: :delete, data: { confirm: "You sure?" } %>
  </span>
</li>
