<h1>Create a New Poll</h1>

<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="left field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="left field">
    <%= f.label :description %><br>
    <%= f.label 'Please seperate your answers by a new line' %><br>
    <%= text_area_tag 'description' %>
  </div>
  <div class="actions">
    <%= f.submit "Save Poll" %>
  </div>

<% end %>
