<% provide(:title, 'New Question') %>
<h1>Create a New Poll</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@question) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.label '(Please seperate your answers by a new line)' %>
      <%= text_area_tag 'description' %>

      <%= f.submit "Save Poll", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
